absl-py==0.13.0
accumulation-tree==0.6.2
affine==2.3.0
alabaster 
altair==4.1.0
anaconda-client==1.7.2
anaconda-navigator==2.0.3
anaconda-project 
anyio 
appdirs==1.4.4
applaunchservices==0.2.1
appnope 
appscript 
arcgis==1.8.5.post3
argh==0.26.2
argon2-cffi 
asn1crypto 
astor==0.8.1
astroid 
astropy 
async-generator 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
backports.entry-points-selectable==1.1.0
backports.functools-lru-cache  
backports.shutil-get-terminal-size 
backports.tempfile 
backports.weakref==1.0.post1
backports.zoneinfo==0.2.1
base58==2.1.0
beautifulsoup4 
bitarray
bkcharts==0.2
black==19.10b0
bleach 
blinker==1.4
bokeh 
boto==2.49.0
Bottleneck==1.3.2
branca==0.4.2
Brotli==1.0.9
brotlipy==0.7.0
cachetools==4.2.2
certifi==2020.12.5
cffi 
chardet 
chroma-py==0.1.0.dev1
click 
click-plugins==1.1.1
cligj==0.7.2
cloudpickle 
clyent==1.2.2
colorama 
colorcet==2.0.6
colour==0.1.5
conda==4.10.1
conda-build==3.21.4
conda-content-trust 
conda-package-handling 
conda-repo-cli 
conda-token 
conda-verify==3.4.2
contextlib2==0.6.0.post1
cryptography 
cvxpy==1.1.13
cycler==0.10.0
Cython 
cytoolz==0.11.0
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dask 
datashader==0.13.0
datashape==0.5.2
decorator 
defusedxml 
diff-match-patch
dill==0.3.4
distlib==0.3.2
distributed 
docutils 
earthpy==0.9.2
echarts-python==0.1.3
ecos==2.0.7.post1
entrypoints==0.3
et-xmlfile==1.0.1
excel2json-3==0.1.6
fastcache==1.1.0
filelock 
Fiona==1.8.20
flake8
Flask 
Flask-Compress==1.9.0
Flask-SQLAlchemy==2.5.1
folium==0.12.1
fsspec 
future==0.18.2
geocoder==1.38.1
geographiclib==1.52
geojson==2.5.0
geopandas==0.9.0
geopy==2.1.0
gevent 
gitdb==4.0.7
GitPython==3.1.18
glob2 
gmpy2==2.0.8
greenlet 
h5py==2.10.0
HeapDict==1.0.1
holoviews==1.14.4
html5lib 
idna 
imageio 
imagesize 
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata 
iniconfig 
intervaltree 
ipykernel 
ipynb==0.5.1
ipython 
ipython-genutils 
ipywidgets 
isort 
itsdangerous 
jdcal==1.4.1
jedi 
Jinja2 
joblib 
json5==0.9.5
jsonschema 
jupyter==1.0.0
jupyter-client 
jupyter-console 
jupyter-core 
jupyter-packaging
jupyter-server 
jupyterlab 
jupyterlab-pygments
jupyterlab-server 
jupyterlab-widgets 
jupyterthemes==0.20.0
keyring 
kiwisolver
lazy-object-proxy  
lerc==0.1.0
lesscpy==0.14.0
libarchive-c  
llvmlite==0.36.0
locket==0.2.1
lxml 
mapboxgl==0.10.2
Markdown==3.3.4
MarkupSafe 
matplotlib 
mccabe==0.6.1
mistune 
mkl-fft==1.3.0
mkl-random
mkl-service==2.3.0
mock 
more-itertools 
mpmath==1.2.1
msgpack 
multipledispatch==0.6.0
munch==2.5.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
nbclassic  
nbclient  
nbconvert  
nbformat  
nest-asyncio  
networkx  
nltk  
nose  
notebook 
ntlm-auth==1.5.0
numba  
numexpr  
numpy  
numpydoc  
oauthlib==3.1.1
olefile==0.46
openpyxl  
optbinning==0.11.0
ortools==9.0.9048
osqp==0.6.2.post0
packaging  
pandas==1.2.4
pandas-bokeh==0.5.5
pandocfilters 
panel==0.11.3
param==1.10.1
parso==0.7.0
partd  
path  
pathlib-mate==1.0.1
pathlib2  
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
pexpect  
pgeocode==0.3.0
pickleshare 
Pillow  
pkginfo==1.7.0
platformdirs==2.2.0
plotly==4.14.3
pluggy 
ply==3.11
prometheus-client 
prompt-toolkit  
protobuf==3.17.3
psutil  
ptyprocess  
py  
pyarrow==5.0.0
pycodestyle==2.7.0
pycosat==0.6.3
pycparser  
pyct==0.4.8
pycurl==7.43.0.6
pydeck==0.6.2
pydocstyle  
pyerfa  
pyflakes  
Pygments 
pylint 
pyls-black  
pyls-spyder  
Pympler==0.9
pymssql==2.2.1
pyodbc===4.0.0-unsupported
pyOpenSSL  
pyparsing  
pyproj==3.1.0
pyrsistent  
pyshp==2.1.3
PySocks 
pytest==6.2.3
python-certifi-win32==1.6
python-dateutil  
python-jsonrpc-server  
python-language-server  
pytz  
pyudorandom==1.0.0
pyviz-comms==2.0.2
PyWavelets  
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
qdldl==0.1.5.post0
QtAwesome  
qtconsole  
QtPy==1.9.0
rasterio==1.2.5
ratelim==0.1.6
regex  
requests  
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rope  
ropwr==0.2.0
Rtree  
ruamel-yaml-conda   
scikit-image==0.18.1
scikit-learn==0.24.2
scipy  
scs==2.1.4
seaborn  
selenium==3.141.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1607525499227/work
setuptools-scm==6.0.1
Shapely==1.7.1
simplegeneric==0.8.1
simpy==4.0.1
singledispatch  
six  
sklearn==0.0
smmap==4.0.0
sniffio  
snowballstemmer  
snuggs==1.4.7
sortedcollections 
sortedcontainers 
soupsieve 
Sphinx  
sphinxcontrib-applehelp 
sphinxcontrib-devhelp  
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath  
sphinxcontrib-qthelp  
sphinxcontrib-serializinghtml 
sphinxcontrib-websupport  
spyder  
spyder-kernels  
SQLAlchemy 
statsmodels  
streamlit==0.89.0
sympy  
tables==3.6.1
tblib 
tdigest==0.5.2.2
terminado==0.9.4
testpath  
textdistance  
threadpoolctl  
three-merge 
tifffile==2020.10.1
toml 
toolz  
tornado  
tqdm  
traitlets  
typed-ast  
typing-extensions  
tzlocal==3.0
ujson 
unicodecsv==0.14.1
urllib3 
uszipcode==0.2.6
validators==0.18.2
vega-datasets==0.9.0
virtualenv==20.7.2
watchdog  
wcwidth  
webencodings==0.5.1
Werkzeug 
widgetsnbextension==3.5.1
woe==0.1.4
wrapt  
wurlitzer  
xarray==0.18.2
xlrd==1.2.0
XlsxWriter  
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
yapf  
zict==2.0.0
zipp  
zope.event==4.5.0
zope.interface  
