
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
dask 
datashader==0.13.0
datashape==0.5.2

numpy  
numpydoc  

pandas==1.2.4
pandas-bokeh==0.5.5
pandocfilters 
panel==0.11.3
param==1.10.1
parso==0.7.0
partd  
path  
pathlib-mate==1.0.1
pathlib2  
pathspec==0.7.0
patsy==0.5.1
pep8==1.7.1
pexpect  
pgeocode==0.3.0
pickleshare 
Pillow  
pkginfo==1.7.0
platformdirs==2.2.0
plotly==4.14.3
pluggy 
ply==3.11
prometheus-client 
prompt-toolkit  
protobuf==3.17.3
psutil  
ptyprocess  
py  
pyarrow==5.0.0
pycodestyle==2.7.0
pycosat==0.6.3
pycparser  
pyct==0.4.8
pycurl==7.43.0.6
pydeck==0.6.2
pydocstyle  
pyerfa  
pyflakes  
Pygments 
pylint 
pyls-black  
pyls-spyder  
Pympler==0.9
pymssql==2.2.1
pyOpenSSL  
pyparsing  
pyproj==3.1.0
pyrsistent  
pyshp==2.1.3
PySocks 
pytest==6.2.3
python-certifi-win32==1.6
python-dateutil  
python-jsonrpc-server  
python-language-server  
pytz  
pyudorandom==1.0.0
pyviz-comms==2.0.2

scikit-image==0.18.1
scikit-learn==0.24.2
scipy  
scs==2.1.4
seaborn  
sortedcollections 
sortedcontainers 
soupsieve 

SQLAlchemy 
statsmodels  
streamlit==0.89.0

tables==3.6.1
tblib 
tdigest==0.5.2.2
terminado==0.9.4
testpath  
textdistance  
threadpoolctl  
three-merge 
tifffile==2020.10.1
toml 
toolz  
tornado  
tqdm  
traitlets  
typed-ast  
typing-extensions  
tzlocal==3.0
ujson 
unicodecsv==0.14.1
urllib3 
uszipcode==0.2.6
validators==0.18.2
vega-datasets==0.9.0
virtualenv==20.7.2

zict==2.0.0
zipp  
